@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

:root {
    --pink-light: #f06292;
    --dark: #001e3c;
    --font-heading: #007fff;
    --font-paragraph: #f3f6f9
}

a, a:after, a:visited {
    color: currentColor;
}

/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    margin-right: 20px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
 }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: var(--dark); */
    background-image: url('transpbg1png.png');
    /* background-opacity: 0.5; */
    height: 450px;
    width: 668px;
    padding: 3rem;
}

p {
    font-family: 'Roboto', sans-serif;
    color:var(--dark);
}

.heading {
    font-family: 'Comfortaa', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    color: var(--dark);
    margin: 1px;
    margin-top: -50px;
}

.slogan {
    color: var(--dark);
    margin: 4px;
    text-align: center;
    font-weight: normal;
}

#video {
    border: 2px solid #282b4a;
    width: 98%;
    max-width: 860px;
  }

#output_canvas{
    width: 98%;
    max-width: 860px;
}
label {
    font-size: 18px;
    color: var(--dark);
    font-weight: normal;
    margin-left: 5rem;
}

#caption {
    height: 40px;
    width: 550px;
    border-style: solid;
    border-color: #2d3d4c;
    margin-left: 3rem;
}

input[type='text'], input[type='text']:focus {
    margin: 5px 0;
    height: 25px;
    border: 3px solid transparent;
    outline: none;
    font-size: 20px;
    width: 100%;
    color: var(--dark);
    caret-color: var(--dark);
    border-radius: 4px;
}

.user_interactive {
    margin-top: 2rem;
}

button {
    margin-right: 2px;
}

input[type='text']:focus {
    border-bottom: 3px solid var(--pink-light);
}


.copy_icon {
    height: 30px;
    width: 30px;
    border-right: 2px solid var(--font-heading);
    padding: 0 5px;
}

.check_icon {
    height: 30px;
    width: 30px;
    padding: 0 5px;
}

.send_request {
    margin-top: 1rem;
    width: 100%;
    border: 2px solid var(--font-heading);
    background-color: transparent;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px var(--font-heading);
    -webkit-box-shadow: 0 4px 6px -1px var(--font-heading);
    -moz-box-shadow: 0 4px 6px -1px var(--font-heading);
    transition: all .2s;
}

.send_request:active {
    box-shadow: none;
    transform: translateY(2px);

}


.copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy > p {
    font-size: 16px;
    margin: 0 auto;
    color: var(--font-heading);

}

.copied {
    display: none;
    align-items: center;
    justify-content: center;
}

.copied > p {
    font-size: 16px;
    margin: 0 4px;
    color: var(--font-heading);
}


#checkboxes {
    display: flex;
    flex-direction: column;
}

#checkboxes > label {
    color: var(--font-paragraph);
    font-size: 12px;
    font-weight: lighter;
}

.footer {
    margin-top: 1rem;
    text-align: center;
    color: var(--pink-light);
}